/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Dec 9, 2022, 3:21:27 PM
    Author     : MJohn
*/
.left_sidebar{
    width:70px;
    position: fixed;
    left: 0;
    top: 50px;
    background: $brand-color-primary;
    height: calc(100% - 50px);
    z-index: 99;
}
.left_sidebar_menu{
    li{
        font-size:inherit;
        a{
            font-size:inherit;
            display: block;
            padding-top: 60px;
            padding-bottom: 16px;
            line-height: 10px;
            &.dataset_management{
                background: url("@/assets/images/dataset-icon.svg");
                background-repeat: no-repeat;
                background-position: center 16px;
                border-bottom: 1px solid #264789;
                &:hover{
                    background: $secondary-color url("@/assets/images/dataset-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
                &.active{
                    background: $secondary-color url("@/assets/images/dataset-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
            }
            &.workflow_management{
                background: url("@/assets/images/workflow-icon.svg");
                background-repeat: no-repeat;
                background-position: center 16px;
                border-top: 1px solid #6b8fd9;
                border-bottom: 1px solid #264789;
                ;
                &:hover{
                    background: $secondary-color url("@/assets/images/workflow-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
                &.active{
                    background: $secondary-color url("@/assets/images/workflow-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
            }
            &.account_management{
                background: url("@/assets/images/usermanagement-icon.svg");
                background-repeat: no-repeat;
                background-position: center 16px;
                border-top: 1px solid #6b8fd9;
                &:hover{
                    background: $secondary-color url("@/assets/images/usermanagement-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
                &.active{
                    background: $secondary-color url("@/assets/images/usermanagement-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center 16px;
                }
            }

        }
    }
}
